
<div class="page-header">
  <h1>REGISTER</h1>
</div>

<%= form_for @user, url:signup_path do |f| %>
  <% if @user.errors.present?%>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  <% end %>


  <div class="well col-md-6">

    <%= f.text_field :username, placeholder:"Username", class: "form-control" %>

    <%= f.email_field :email, placeholder: "E-mail", class: "form-control" %>

    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

    <%= f.password_field :password_confirmation, placeholder:"Password Confirmation", class: "form-control" %>

    <%= f.submit "Register", class: "btn btn-primary" %>

  </div>

<% end %>
