<%= form_for(@post, html: {class: "form-horizontal"}) do |f| %>

  <div class="form-group">
    <%= f.label :title, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_area :content, class:"form-control" %>
    </div>
  </div>

  <%= f.submit "Submit Post", id: "submit-post-action", class: "btn btn-primary col-md-offset-2" %>

<% end %>
